*{
    background: lavenderblush;
    
}
div.dropdown-item{
    padding: 30px;
}
div.image{
    width: 5%;
    height: 4%;
}
div.abes{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
div.head_name{
    width: 100%;
height: 200px;
display: flex;
justify-content: center;
align-items: center;
background:khaki;
}
button{
    width: 9%;
    height: 90px;
    color: brown;
    font-weight: bold;
    font-size: 25px;
    background: lightgray;
    margin: centre;
    text-align: center;
    padding-right: 10%;
    margin-right: 25%; 
}
div.btn-group{
 width: 43%; 
 padding: auto;

 margin: 5%;
   
}